# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Database
*.db
*.sqlite3

# Models
*.joblib
*.pkl

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db